<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>672579198545-qdved4csttbt8kla8m5sgg15mdt54bo4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.672579198545-qdved4csttbt8kla8m5sgg15mdt54bo4</string>
	<key>API_KEY</key>
	<string>AIzaSyAhrdUiEs1AVp8LDVGw6xWkrkgpxozIcv0</string>
	<key>GCM_SENDER_ID</key>
	<string>672579198545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.solarWeb</string>
	<key>PROJECT_ID</key>
	<string>greenlink-1b0c1</string>
	<key>STORAGE_BUCKET</key>
	<string>greenlink-1b0c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:672579198545:ios:1bb7dad4efa35c48d16270</string>
</dict>
</plist>